#wrapper
    #shop
        // PAGE TITLE
        header#page-title
            .container
                h1 Leave
                    strong Management
                ul.breadcrumb
                    li.active HR
                    li.active Leave Management
        section.container
            .row
                .col-lg-12
                    table#dataTableHrManageLeave.table.table-bordered.table-hover.table-striped(ng-table='dataTableHrManageLeave', show-filter='true')
                        tr(ng-repeat='app in $data')
                            td(data-title='"EmpId"', sortable='"empId"', filter='{ "empId": "text" }')
                                | {{app.empId}}
                            td(data-title='"Name"', sortable='"name"', filter='{ "name": "text" }')
                                | {{app.name}}
                            td(data-title='"Leave Type"', sortable='"leaveType"', filter='{ "leaveType": "text" }')
                                | {{app.leaveType}}
                            td(data-title='"Application Date"', sortable='"applicationDate"', filter='{ "applicationDate": "text" }')
                                | {{app.applicationDate}}
                            td(data-title='"From"', sortable='"from"', filter='{ "from": "text" }')
                                | {{app.fromDate}}
                            td(data-title='"To"', sortable='"to"', filter='{ "to": "text" }')
                                | {{app.toDate}}
                            td(data-title='"No of Days"', sortable='"noOfDays"', filter='{ "noOfDays": "text" }')
                                | {{app.noOfDays}}
                            td(data-title='"Leave Left"', sortable='"leaveLeft"', filter='{ "leaveLeft": "text" }')
                                | {{app.leaveLeft}}
                            td(data-title='"Reason"')
                                | {{app.reason}}
                            td(data-title='"Options"', style='text-align:center')
                                button.btn-sm.btn-success(ng-click="Action('Approve')") Approve
                                button.btn-sm.btn-danger(ng-click="Action('Reject')") Reject
                            td(data-title='"Show Details"', style='text-align:center')
                                a(href='#/hrLeave/{{app.applicationID}}') Show Details


