//
   Created by chinna on 21/5/14.

#wrapper
    #shop
        // PAGE TITLE
        header#page-title
            .container
                h1 Leaves
                    strong Tracking
                ul.breadcrumb
                    li.active Employee
                    li.active Track Leaves
        section.container
            .col-lg-12
                .panel.panel-info.table-bordered
                    .panel-body
                        table#dataTableLeaveApply.table.table-bordered.table-hover.table-striped(ng-table='dataTableLeaveApply', show-filter='true')
                            tr(ng-repeat='app in $data')
                                td(data-title='"Application Date"', sortable='"applicationDate"', filter='{ "applicationDate": "text" }')
                                    | {{app.applicationDate}}
                                td(data-title='"From Date"', sortable='"from"', filter='{ "from": "text" }')
                                    | {{app.from}}
                                td(data-title='"To Date"', sortable='"to"', filter='{ "to": "text" }')
                                    | {{app.to}}
                                td(data-title='"Leave Type"', sortable='"leaveType"', filter='{ "leaveType": "text" }')
                                    | {{app.leaveType}}
                                td(data-title='"Status"', style='vertical-align: -webkit-baseline-middle;text-overflow: ellipsis;white-space: nowrap;')
                                    | {{app.status}}
                                    a.btn.btn-small(ng-show="(app.status=='applied')") Cancel